body {
    background: url("./triviabackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

#wrapper{
    background-color: rgba(0, 0, 0, 0.856);
    margin: auto;
    width: 75%;
    height: 500px;
    margin-top: 7%;
    color: white;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Crimson Text', serif;
}

#subwrapper{
    justify-content: center;
    margin-top: 5%;
    font-family: 'Crimson Text', serif;
}

button {
    height: 55px;
    width: 200px;
    background-color: rgb(71, 152, 167);
    font-size: 18px;
    color: white;
    border-radius: 8px;
    font-family: 'Crimson Text', serif;
    border-color:  rgb(71, 152, 167);
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: 0;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(16, 76, 87);
    border-color: rgb(16, 76, 87);
}

@media only screen and (max-width: 768px) {
    #wrapper{
        height: 85%;
        padding-bottom: 20px;
    }
}